.myHeroLogo{
  background-color: #212121;
    padding: 5rem;
    width: 30%;
    margin-top: 10rem;
}
.active{
  background-color: #007bffa6;
}
.nav {
  background-color: lightgray;
  padding: 15px;
  border-radius: 5px;
}